* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: rgb(75, 13, 126);
  color: white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  
}

.menu {
  border: 1px white solid;
  padding:20px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-caixa{
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-bottom: 20px;
}

.form-control{
  font-weight: 900;
}

.form-caixa button{
  margin-top:20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  padding-right: 30px;
  padding-left: 30px;
}

.list-group-item {
  font-size: 20px;
  font-weight:300;
  color: #fff;
  background-color: rgb(75, 13, 126);
  border: 1px solid black;
}

.list-group-item:hover {
  font-size: 20px;
  font-weight:300;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.opcoes{
  margin-top:60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}


.opcoes button{
  margin: 10px;
  font-weight: 900;
}

.escolhas {
  display: flex;
  justify-content:center;
}
.escolhas p {
  margin:20px
}

.escolhas p:hover {
  text-decoration: underline;
  cursor:pointer;
}



