.caixas {
  width: 200px;
  height: 200px;
}

.quadrado-show {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.buttons-hide{
  display: none;
}

.buttons-show{
  display: inline-block;
  
}
